.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.wrap{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.rightSpan{
  margin-left: 10px;
}

.toodoButton{
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 20px;
  border:none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  outline: none;
  background-color: white;
}
.toodoButton:hover{
  box-shadow:  0 1px 5px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: all 0.3s;
}

.inputEdit{
  width: 100px;
  height: 30px;
  margin-left: 10px;
}
.inputTop,.inputEdit{
  border: 1px solid rgb(206, 202, 202);
  background-color: rgb(206, 202, 202);
}
.inputTop:focus, .inputEdit:focus{
  outline: 1px solid rgb(216, 199, 199);
}
.listInput li{
  padding: 10px;
  margin: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  width: 500px;
  list-style-type: none;
  width: max-content;
}
.listStyle,.rightListStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
}
.listInput .rightListStyle{
  min-width: 200px;
  max-width: max-content;
}

.listStyle button, .rightListStyle button{
  font-size: 10px;
  font-weight: bold;
  box-shadow: none;
  background-color: tomato;
  margin: 0 5px;
}
.listStyle button:hover{
  opacity: 0.5;
}
.divLeft,.divRight{
  padding: 40px;
  margin: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.Container{
  display: flex;
  justify-content: center;
}
.checked:checked + .element-text{
  text-decoration:line-through;
}