.outerTimerWrap{
    height: 100vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.innerWrapTimer{
    height: 450px;
    width: 450px;
    background-color: transparent;
    border-radius: 20px;
    /* box-shadow: 0 1px 10px rgba(0,0,0,0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sessionTime{
    display: flex;
    flex-direction: column;
}
.sessionTime h3{
    color: white;
    margin: 0;
}
.lowerSessionTime{
    display: flex;
}
.subtractTime,.addTime{
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: rgb(189, 58, 58);
    color: white;
}
.inputTime{
    border: none;
    text-align: center;
    width: 50px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.startTimer,.stopTimer,.resetTimer{
    margin-top: 30px;
    background-color: rgb(70, 194, 70);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    outline:none
}
.PomodoroWrap{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid rgb(189, 58, 58);
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at center, rgb(230, 221, 100) 0, rgb(243, 135, 47) 100%);
    z-index: 10;
}

.circleAlarm,.circleAlarm-right{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(189, 58, 58);
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
.circleAlarm::after,.circleAlarm-right::after{
    content: '';
    width: 20px;
    height: 70px;
    background-color: rgb(189, 58, 58);
    position: absolute;
    top: 100px;
    transform: rotate(-50deg) translate(80px,10px);
}
.circleAlarm-right{
    top: 0px;
    left: 330px;
}
.circleAlarm-right::after{
    top: 60px;
    left: 0;
    z-index: 1;
    transform: rotate(50deg);
}

.timerButtons{
    display: flex;
}
.timerButtons button{
    margin: 20px 5px;
}
.timerButtons button:hover{
    opacity: 0.6;
    cursor: pointer;
}
#rightEar{
    z-index: 100;
}

