.banner{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.promotion{
    width: 90%;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.4);
    color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion h3{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
}
.advertisementText{
    background: #490e24;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding: 10px 0;
}
.products{
    min-height: 500px;
    background-color: rgb(226, 226, 226);
    /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.productCardWrapper{
    margin-top: 55px;
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-gap: 25px;
}
.productCard{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
.title, .description{
    padding: 0 10px;
}
.title{
    font-weight: bold;
}
.productCard img{
    width: 100%;
    height: 60%;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.icons img{
    margin: 5px;
}
.temporaryDiv{
    display: flex;
    flex-direction: column;
    height: max-content;
}
.arrangeLikes{
    display: flex;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
}
.favouriteStart{
    display: flex;
    align-items: center;
}
.arrangeLikes img{
    width: 70px;
    padding: 10px;
}
.favouriteEnd{
    margin-right: 20px;
    padding: 10px;
    background-color: #490e24;
    color: white;
    font-weight: bold;
}
.favouriteEnd:hover{
    opacity: 0.6;
    cursor: pointer;
}