.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  border:none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  outline: none;
}
button:hover{
  box-shadow:  0 1px 5px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: all 0.3s;
}
ul li{
  padding: 10px;
  margin: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  width: 200px;
  list-style-type: none;
}