.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  border:none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  outline: none;
  background-color: white;
}
button:hover{
  box-shadow:  0 1px 5px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: all 0.3s;
}
ul li{
  padding: 10px;
  margin: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  width: 200px;
  list-style-type: none;
}
.listStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listStyle button{
  font-size: 10px;
  font-weight: bold;
  box-shadow: none;
  background-color: tomato;
}
.listStyle button:hover{
  opacity: 0.5;
}
.divLeft,.divRight{
  padding: 40px;
  margin: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.Container{
  display: flex;
  justify-content: center;
}
.checked:checked + .element-text{
  text-decoration:line-through;
}