.outside{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 248, 248);
    height: 100vh;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.outerDrum{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.drumLists{
    display: flex;
}
.outerDrum ul li{
    list-style: none;
    height: 100px;
    width: 100px;
    margin: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    background-color: rgb(235, 235, 235);
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 10px solid rgb(235, 234, 234);
}
.outerDrum ul li:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    transform: scale(1.1);
    transition: all .1s;
    border-radius: 50%;
}
