nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 112, 112);
}
nav h3{
  color: white;
  padding: 0 20px;
}
nav ul{
  display: flex;
  padding: 0 20px;
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav ul li{
  padding: 0 20px;
  color: white;
  font-size: 20px;
}