.weatherContainer{
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.bigWeatherCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: max-content;
    height: max-content;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    font-size: 25px;
}
.bigWeatherCard img{
    height: 200px;
    width: 200px;
}
.bigWeatherList{
    display: flex;
    width: 80%;
    padding: 20px;
    padding-top: 0;
    justify-content: space-between;
    list-style-type: none;
}

.smallCards{
    display: flex;
}
.weatherCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: max-content;
    height: max-content;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.weatherCards li{
    list-style-type: none;
    margin: 10px;
}
.weatherCards:first-child{
    background-color: whitesmoke;
}
.weatherCards img{
    width: 60px;
    height: 60px;
}
.weather-list{
    display: flex;
    position: relative;
}
